
<h2>ユーザー一覧</h2>
  <p>ユーザーを選択してね！</p>
  <div class="chara_list">
    <div class="list-container">
      <% @profiles.each do |profile| %>
        <%= link_to profile_path(profile) do %>
          <div class="list">
            <h2 style="text-align: center;">ユーザープロフィール</h2>

            <h3>ユーザー名</h3>
            <%= profile.user.name %>
            <h3>紹介文</h3>
            <%= profile.description %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>




