<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <h1>ユーザー一覧</h1>
  <p>ユーザーを選択してね！</p>
  <div class="chara_list">
    <div class="container">
      <% @profiles.each do |profile| %>
        <%= link_to profile_path(profile) do %>
          <div class="list">
            <h3>ユーザー名</h3>
            <%= profile.user.name %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</table>



