<h2>キャラ一覧</h2>
<p>キャラを選択してね！</p>
<div class="chara_list">
<div class="list-container">

<% @vr_persons.each do |vr_person| %>
<%= link_to vr_person_path(vr_person) do %>
<div class="list">
<div class="img_box">
  <h2>キャラプロフィール</h2>
    <% if vr_person.avatar.attached? %>
    <%= image_tag vr_person.avatar %>
  <% else %>
    <p>No avatar available</p>
  <% end %>
</div>
  <h3>キャラ名</h3>
  <%= vr_person.name %>
  <h3>一言メッセージ</h3>
  <%= vr_person.message %>

</div>
<% end %>
<% end %>

</div>
</div>


