<h1>キャラ一覧</h1>
<div class="chara_list">
<div class="container">

<% @vr_persons.each do |vr_person| %>
<div class="item">
<div class="img_box">
  <h3>プロフィール</h3>
    <% if vr_person.avatar.attached? %>
    <%= image_tag vr_person.avatar %>
  <% else %>
    <p>No avatar available</p>
  <% end %>
</div>
  <h3>キャラ名</h3>
  <%= vr_person.name %>
  <h3>一言メッセージ</h3>
  <%= vr_person.message %>
  <h3>紹介文</h3>
  <%= vr_person.description %>

</div>
<% end %>
</div>
</div>


