<h1>プロフィール</h1>

<h3>ユーザー名</h3>
<%= @vr_person.name %>
<h3>自己紹介文</h3>
<%= @vr_person.description %>
<!--
<div class="avatar_box">
<h3>プロフィール画像</h3>
<% if @vr_person.avatar.attached? %>
  <%= image_tag @vr_person.avatar %>
<% end %>

</div>

-->